@media (min-width:320px) and (max-width:960px){
  .carousel-container{
    display: none;
  }
}


@media (min-width:961px){
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .carousel-img {
    width: 350px;
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    transition: transform 0.3s ease;
  }

  .carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .active-img {
    transform: scale(1.2);
    z-index: 1;
  }
}