.background-image {
  height: 300px;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0 100px; 
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: 50px; 
}

.left-section h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px; 
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.right-section p {
  font-size: 1.2rem;
  margin-bottom: 20px; 
}

.right-section-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  width: 100%;
}

.right-section-info h4 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.gender-section, .platforms-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.button-container {
  display: flex;
  flex-direction: row;
}

.button-container button {
  margin-right: 10px;
}