@media (min-width:961px) {
    .conta{
        margin-top: 25px;
    }

    .cards{
        margin-top: 20px;
        width: 27rem;
        display: flex;
        justify-content: center;
        padding: 5px 0 5px;
    }

    .noFrien{
        margin-top: 80px;
        width: 27.029rem;
        height: 47rem;
    }

    .msg{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 4.5%;
    }

    .noReg{
        margin-top: 80px;
        width: 27.029rem;
        height: 47rem;
    }

    .register{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 6.5%;
    }
}