@media (min-width:961px) {
    .conta{
        margin-top: 25px;
    }

    .cards{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        padding: 5px 5px 5px 5px;
        /* padding: 10px; */
    }

    .cards:hover{
		box-shadow: inset 1px 1px 10px 10px whitesmoke;
    }

    .resquets{
        margin-top: 0.4rem;
    }

    .reje{
        background-color: transparent;
        padding: 0.5rem;
        margin-left: 1rem;
        font-size: 14px;
    }

    .accp{
        background-color: transparent;
        padding: 0.5rem;
        font-size: 14px;
    }

    .reje:hover{
        border: 1px solid red;
        color: red;
    }

    .accp:hover{
        border: 1px solid chartreuse;
        color: chartreuse;
    }

    .noFrien{
        margin-top: 80px;
        width: 27.029rem;
        height: 47rem;
    }

    .msg{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 4.5%;
    }

    .noReg{
        margin-top: 80px;
        width: 27.029rem;
        height: 47rem;
    }

    .register{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 6.5%;
    }
}

@media (min-width: 320px) and (max-width: 960px) {
    .conta{
        margin-top: 10px;
    }

    .user{
        border-bottom: 1px solid white;
        padding: 1rem;
    }

    .cards{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        padding: 5px 5px 5px 5px;
        padding: 10px;
    }

    .cards:hover{
		box-shadow: inset 1px 1px 20px 10px whitesmoke;
    }
    
    .reje{
        background-color: inherit;
        padding: 0.67rem;
        margin-left: 1rem;
    }

    .reje:hover{
        border: none;
        color: red;
    }
    
    .accp{
        background-color: inherit;
        padding: 0.67rem;
    }

    .accp:hover{
        border: none;
        color: chartreuse;
    }

    .noFrien{
        margin-top: 1px;
        width: 25rem;
        height: 6rem;
    }
    
    .msg{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .noReg {
        margin-top: 1px;
        width: 25rem;
        height: 6rem
    }

    .register{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }


}