@media (min-width:961px) {
    .conta{
        margin-top: 25px;
    }

    .cards{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        padding: 5px 5px 5px 5px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        padding: 10px;
    }

    .reje{
        background-color: black;
    }

    .accp{
        background-color: black;
    }

    .reje:hover{
        border: none;
        color: red;
    }

    .accp:hover{
        border: none;
        color: chartreuse;
    }

    .noFrien{
        margin-top: 80px;
        width: 27.029rem;
        height: 47rem;
    }

    .msg{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 4.5%;
    }

    .noReg{
        margin-top: 80px;
        width: 27.029rem;
        height: 47rem;
    }

    .register{
        display: flex;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 6.5%;
    }
}