#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


*::-webkit-scrollbar{
  background: rgba(204, 168, 8, 0);
  width:10px;
  
}

*::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom right, rgb(137, 28, 167), rgb(15, 15, 86));
  border-radius: 5rem;
}

