#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


*::-webkit-scrollbar{
  background: rgba(204, 168, 8, 0);
  width:10px;
  
}

*::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom right, rgb(137, 28, 167), rgb(15, 15, 86));
  border-radius: 5rem;
}
body{
  background-image: linear-gradient(to bottom right,
  rgb(0, 0, 0) 0%, 
  rgb(0, 0, 0) 20%,
  rgb(88, 1, 131) 40%,
  rgb(0, 0, 74) 60%,
  rgb(0, 0, 0) 80%
  );
  background-size: 200% 200%;
  animation: movimiento 5s linear infinite alternate;
}

@keyframes movimiento {
  from {
    background-position: 0,0;
  }
  to{
    background-position: 100% 100%;
  }
}
