.container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.container :hover {
    background-color: rgba(107, 2, 227, 0.647);
    transition: 2s;
}

.content {
    transition: 2s;
    border-radius: 1rem;
    margin: 5%;
    background-color: rgba(59, 1, 167, 0.456);
}

.content img {
    float: left;
    width: 30%;
    border-radius: 0.5rem;
}

.subContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 5%;
}

.subContent h3 {
    font-size: 30px;
}