@media (min-width:320px) and (max-width:960px){
    .containerShow{
        background-color: red;
    }
}


@media (min-width:961px) {
    .containerShow{
        background-image: linear-gradient(to bottom right, black, rgb(15, 15, 86));
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15%;
        transition: 0.5s;
        // box-shadow:inset 1px 1px  150px 30px rgb(15, 15, 86);
        color: white;
    }
    .containerHide{
        transform: translate(-100%);
        transition: 0.8s;
    }
    .buttons{
        color: white;
    }
}