@import '../../styles/global-vars.scss';

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
  height: 100%;
  border-radius: 10px;
  padding: 70px;
  gap: 25px;
}

.cards-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 80vw;
  height: 100%;
  border-radius: 10px;
  padding: 70px;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 30vw;
  border-radius: 10px;
  padding: 10px;
  background-color: $background-color;
  box-shadow: 5px 5px 15px 0 $light-blue-color;
}

.card:hover {
  transform: scale(1.03);
}