@media (min-width:320px) and (max-width:960px) {
    .table {
        display: flex;
        justify-content: center;
    }

    .priceTotal {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:961px) {
    .tbody{
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .item{
        border-bottom: 1px solid white;
        padding: 5px;

    }

    .table {
        display: flex;
        justify-content: center;
    }

    .priceTotal {
        display: flex;
        justify-content: center;
    }

    .cartClean{
        margin-top: 15px;
        margin-left: 20%;
    }

    .checkout{
        margin-left: 25%;
    }
}