.card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card p {
  color: aqua;
  margin: 0;
  font-size: 1.2rem;
}

.platforms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1vh;
  text-decoration: none;
}