@import '../../styles/global-vars.scss';
.buttonHide{
  display: none;
}

@media (min-width:320px) and (max-width:960px){
  .card-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 5%;
    // background-color: $background-color;
    border-radius: 1rem;
    padding: 3%;
  }
  .card{
    width: 17rem;
    background-image: linear-gradient(to bottom right, rgb(137, 28, 167), rgb(15, 15, 86));
    border-radius: 0.5rem;
    padding: 10%;
  }
  .card h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .card p {
    color: $neon-color;
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .platforms-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .platforms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    text-decoration: none;
  }
  .buttonAdd{
    width: 9rem;
    margin-top: 1rem;
    background-color: black;
  }
  .form-button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    background-color: rgb(22, 22, 22);
  }
  

  .form-button:hover {
    box-shadow: 0 0 15px 2px $shadow-blue-color;
    border: none;
  }

  .form-button:focus {
    background-color: $shadow-blue-color;
  }
}


@media (min-width:961px){
  .cardContainerBuy{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 22rem;
    padding: 0.2%;
    font-family: 'Orbitron', sans-serif;
  }

  .cardContainer{
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    border-radius: 1rem;
    width: 22rem;
    padding: 0.2%;
    font-family: 'Orbitron', sans-serif;
  }
  .card{
    display: grid;
    grid-template-rows: 190px 180px 80px;
    align-items: center;
    border-radius: 1rem;
    box-shadow:inset 1px 1px  150px 30px $light-blue-color;
    // box-shadow:1px 1px  20px 10px $light-blue-color;
    
  }

  .containerTittleAndPrice{
    align-self: center;
    grid-row: 2/3;
  }
  .card h3 {
    margin-top: 10px;
    font-size: 1.6rem;
    height: 110px;
  }

  .card img {
    width: 100%;
    max-height: 200px;
    // border-radius: 10px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    row-gap: 1/2;

  }

  .card p {
    color: $neon-color;
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .addShoppingCart{
    align-self: center;
    grid-row: 3/4;
  }

  .form-button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    background-color: rgb(22, 22, 22);
  }
  .buttonAdd{
    background-color: black;
    height: 30%;
    margin: 5px;
  }
  .cardContainerBuy:hover{
    filter: blur(3px);
    transition: 1s;
  }

  .card:hover{
    // box-shadow:1px 1px  20px 10px $light-blue-color;
    box-shadow:1px 1px  50px 30px $shadow-purple-color-dark;
    background-image: linear-gradient(to bottom right, rgb(137, 28, 167), rgb(15, 15, 86));
    transition: 1s;
    // background-image: linear-gradient(to bottom right, black, rgb(15, 15, 86));
  }

  .form-button:hover {
    box-shadow: 0 0 15px 2px $shadow-blue-color;
    border: none;
  }

  .form-button:focus {
    background-color: $shadow-blue-color;
  }

  .msg{
    margin-top: 25px;
  }

}



