* {
  margin: 0;
  padding: 0;
}


@media (min-width:320px) and (max-width:960px) {
  .buttons-platforms button {
    color: white;
    background-color: #018dff;
    margin: 2px;
    padding: 3%;
  }

  .More-products-btn {
    color: white;
    background-color: #018dff;
  }
}

@media (min-width:961px){
  .container{
    margin-top: 8%;
  }

  .container::-webkit-scrollbar-button {
    background-color: red;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: red;
    color: red;
  }

  .title{
    margin-top: 20px;
  }

  .buttons-platforms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}