* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

.title{
  margin-top: 20px;
}

@media (min-width:320px) and (max-width:960px){
  .buttons-platforms button {
    color: white;
    background-color: #018dff;
    margin: 2px;
    padding: 3%;
  }
  .More-products-btn{
    color: white;
    background-color: #018dff;
  }
}

@media (min-width:961px){
  .container{
    margin-top: 8%;
  }
  .buttons-platforms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
