@media (min-width:320px) and (max-width:960px) {
    .cartButton {
        background-color: #018dff;
        border-radius: 40%;
        float: center;
        margin: 5px;
        padding: 0;
        height: 3rem;
        width: 3rem;
        border: 1px solid white;
    }

    .cartButton:hover {
        background-color: #004074;
        transition: 1s;
    }

    .cartIcon {
        margin: 0px;
    }

    .closeModalButton {
        position: fixed;
        top: 25vh;
        left: 48vw;
        background-color: #018dff;
        border-radius: 50%;
        padding: 3px;
        margin: 5px;
    }
}

@media (min-width:961px) {
    .cartButton {
        background-color: rgba(0, 0, 0, 0);
        
        border-radius: 40%;
        float: right;
        margin-left: 0px;
        padding: 0;
        height: 3rem;
        width: 3rem;
        border: none;
        
    }

    .prueba {
        display: flex;
        flex-direction: row;
    }
    
    .cartButton:hover {
        border: none;
        transition: 1s;
    }
    
    .cartIcon {
        filter: invert(1);
        margin: auto;
    }

    .closeModalButton {
        position: fixed;
        top: 25vh;
        left: 49vw;
        background-color: #018dff;
        border-radius: 50%;
        padding: 3px;
        margin: 5px;
    }

}