@import '../../styles/global-vars.scss';

.Input {
    font-family: 'Orbitron', sans-serif;
    border-radius: 20px;
    padding: 10px;
}

.But {
    background-color: #018dff;
    cursor: pointer;
    border-radius: 20px;
    border-color: white;
    margin-left: 10px;
}

.But:hover {
    background-color: #004074;
    transition: 1s;
    color: #018dff;
    
}