@import '../../styles/global-vars.scss';
@media (min-width:320px) and (max-width:960px){
  .carouselContainer{
    display: none;
  }
}

@media (min-width:961px){
  .Links{
    color: white;
  }
  .carouselContainer{
    width: 100%;
    padding: 5%;
    position: relative;
    border-radius: 0.5rem;
  }
  .carousel-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    padding: 60px 0;
    font-family: 'Orbitron', sans-serif;
  }
}


.card-carousel {
  display: flex;
  justify-content: center;
  gap: 15px;
  
}

.img-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.img-carousel img {
  border-radius: 0.5rem;
  width: 100%;
  height:100%;
  position: absolute;
  // max-width: 700px;
  right: 0px;
  top: 0px;
  object-fit: cover;
}

.description-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  text-align: left;
  z-index: 100;
  padding-top: 5%;
  width: 100%;
  
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 150px;
  gap: 10px;
  // display: ;
}

.carousel-buttons--change {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.carousel-buttons--change  button{
  z-index: 60;
}

.carousel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  padding: 60px 0;
  font-family: 'Orbitron', sans-serif;
}
