@import '../../styles/global-vars.scss';

.carousel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  padding: 60px 0;
  font-family: 'Orbitron', sans-serif;

}


.card-carousel {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.img-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-carousel img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  max-width: 700px;
  object-fit: cover;
}

.description-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 150px;
  gap: 10px;
}

.carousel-buttons--change {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
