@import '../../styles/global-vars.scss';
@media (min-width:320px) and (max-width:960px){
  .carouselContainer{
    display: none;
  }
}

@media (min-width:961px){
  .carouselContainer{
    display: none;
  }
  .carousel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    margin: 50px 0;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;

  }

  .img-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-carousel {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .img-carousel img {
    border-radius: 20px;
    height: 400px;
    width: 600px;
    max-width: 700px;
  }

  .description-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-family: 'Orbitron', sans-serif;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 150px;
    gap: 10px;
  }

  .carousel-buttons--change {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    gap: 10px;
  }

  .carousel-buttons--change img {
    filter: invert(1);
    cursor: pointer;
  }

}