*{
    margin: 0;
    min-width: 0;
    min-height: 0;
    font-family: 'Orbitron', sans-serif;
}

@media (min-width:961px) {
    .cont{
        position: fixed;
        left:1.25rem;
        top: 6.1446rem;
        border: 1px solid white;
        width: 28.5rem;
        height: 53.38rem;
        box-shadow: inset 1px 1px 30px 5px whitesmoke;

    }
}

@media (min-width: 320px) and (max-width: 960px) {
    .cont{
        border: 1px solid white;
        position: absolute;
        top: 8rem;
        left: 2rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 27rem;
        box-shadow: inset 1px 1px 30px 10px whitesmoke;
    }
}