*{
    margin: 0;
    min-width: 0;
    min-height: 0;
}

@media (min-width:961px) {
    .cont{
        position: fixed;
        left:1.25rem;
        top: 6.1446rem;
        border: 1px solid white;
        width: 28.4rem;
        height: 53.38rem;
    }

    .container{
        position: fixed;
        border: 1px solid white;
        left: 29.6rem;
        top: 6.1rem;
        height: 53.4rem;
        width: 89rem;
    }
}