
@media (min-width:320px) and (max-width:960px) {
    .container {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        font-size: large;
        background-color: black;
        padding: 5%;
        border-radius: 0.5rem;
    }
    .container button {
        width: 100%;
        margin-top: 10%;
        background-color: whitesmoke;
        color: black;
    }
}
@media (min-width:961px) {
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin-top: 5%;
    }
    .container h4 {
        width: 200px;
        margin-left: 15%;
    }
    .deletFriend{
        background-color: rgb(219, 219, 219);
        color: black;
        text-align: center;
    }
}