
@media (min-width: 961px) {
	.contain{
		border: 1px solid white;
		position: fixed;
		top: 6.1rem;
		left: 29.6rem;
		width: 89rem;
		height: 53.4rem;
		box-shadow: inset 1px 1px 30px 5px whitesmoke; 
	}

	.title {
		border: 1px solid white;
		padding: 3.2rem;
	}

	.card {
        display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 25px;
		align-items: center;
	}
	
	.friends {
		border: 1px solid white;
		border-radius: 20px;
		width: 15rem;
		padding: 0 0 2rem ;
}

	.friends:hover{
		box-shadow: inset 1px 1px 10px 5px whitesmoke;
	}

	.deletFriend{
		background-color: transparent;
		font-size: 14px;
		position: relative;
		left: 5.8rem;
		top: 0.3rem;
		padding: 0.5rem;
	}

	.deletFriend:hover {
        cursor: pointer;
        border: 1px solid red;
		color: red;
	}
}

@media (min-width: 320px) and (max-width: 960px) {
	.contain{
		margin-top: 10px;
	}

	.title{
		border: 1px solid white;
		padding: 1rem;
	}

	.card{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.friends{
		width: 26.9rem;
        padding: 0 0 2rem ;
	}

	.friends:hover{
		box-shadow: inset 1px 1px 20px 10px whitesmoke;
	}

	.deletFriend{
		background-color: transparent;
		font-size: 14px;
		position: relative;
		left: 10rem;
		top: 0.3rem;
	}

	.deletFriend:hover{
		cursor: pointer;
        border: 1px solid red;
		color: red;
	}
}
