
@media (min-width: 961px) {
	.container{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.containerCards{
		display: flex;
		flex-direction: column;
		width: 100%;
		
	}
	.title {

	}


	.friendCard {


	}

	.deletFriend:hover {

	}
}
