
@media (min-width: 961px) {
	.title {
		border-bottom: 1px solid white;
		width: 88.9rem;
		padding: 2.18rem;
	}

	.card {
        display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 25px;
	}

	.friends {
		border: 1px solid white;
		width: 15rem;
        padding: 2rem;
	}

	.deletFriend:hover {
        cursor: pointer;
        background-color: #004074;
        transition: 1s; 
	}
}
