@media (min-width:320px) and (max-width:960px){
  .productList{
    margin-top: 30%;
    overflow-y: scroll;
  }
  .iconCarrito{
    position: fixed;
    top: 100px;
    right: 9px;
    width: 45px;
    filter: invert(1);
  }
}

@media (min-width:961px){
  .page-container {
    margin-top: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .iconCarrito{
    display: none;
  }
  .paginate{
    position: fixed;
    left: 50%;
    top: 800px;
    transform: translate(-50%, -50%);
    width: 600px; 
  }
  .paginate button{
    margin: 2%;
    background-color: black;
  }
}
