@media (min-width:320px) and (max-width:767px){
  .productList{
    margin-top: 30%;
  }
}


.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
