@media (min-width:320px) and (max-width:960px){
  
  .productList{
    margin-top: 4530px;
    margin-bottom: 200px;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 430px;
    margin-bottom: 200px;
  }
}

@media (min-width:961px) {
  .productList {
      margin-top: 60px;
    }
  
    .page-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
