@import '../../styles/global-vars.scss';


@media (min-width:320px) and (max-width:960px) {
    .home {
        border: 1px solid white;
        border-radius: 40px;
    }

    .mainContainer {
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
        background-color: rgb(1, 4, 15);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .listContainer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
   
    .loginButton {
        // background-color: #018dff;
        cursor: pointer;
        border-radius: 20px;
        border-color: white;
        margin-right: 5px;
    }
    
    .loginButton:hover {
        background-color: #004074;
        transition: 1s;
        color: #018dff;
    }

}


@media (min-width:961px) {

    .home{
        border: 1px solid white;
        border-radius: 40px;
    }

    .mainContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .listContainer {
        list-style: none;
        background-color: black;
        box-shadow: 5px 5px 15px 0 $shadow-purple-color-dark;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        margin: 0px;
        margin-bottom: 0px;
        font-family: 'Orbitron', sans-serif;
    }

    .navbarIcon {
        margin-top: 5px;
        margin-left: 5px;
    }

    .loginButton {
        background-color: black;
        cursor: pointer;
        border-radius: 20px;
        // border-color: white;
        margin-right: 5px;
    }

    .loginButton:hover {
        background-color: #004074;
        transition: 1s;
    }
}