
$background-color: #001640;
$background-color-dark: #000C24;
$light-blue-color: #163c9f;
$shadow-purple-color-dark: #120052;
$shadow-purple-color: #4B2D9F;
$shadow-blue-color: #13a8fe;
$gradient-hover: linear-gradient(90deg, rgba(68, 12, 105, 1) 0%, rgba(29, 127, 253, 1) 68%, rgba(8, 159, 195, 1) 100%);
$neon-color: rgba(39, 195, 243, 1);