.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.listContainer {
    list-style: none;
    background-color: #018dff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0px;
    margin-bottom: 0px;
    font-family: 'Orbitron', sans-serif;
}

.loginButton {
    background-color: #018dff;
    cursor: pointer;
    border-radius: 20px;
    border-color: white;
    margin-right: 5px;
}

.loginButton:hover {
    background-color: #004074;
    transition: 1s;
    color: #018dff;
}