
@media (min-width:961px) {
    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    .send{
        margin-bottom: 10px;
    }

    .input{
      border-radius: 1rem;
      background-color: black;
      width: 100%;
      height: 40px;
      text-align: center;
    }
    .input::placeholder{
        text-align: center;
    }

    .but {
        background-color: black;
        border-radius: 20px;
        border-color: white;
        z-index: auto;
        pointer-events: all;
    }
    
    .but:hover {
        cursor: pointer;
        background-color: #004074;
        transition: 1s; 
    }

}
