
@media (min-width:961px) {
    .add{
        padding: 25px;
        border: 1px solid white;
    }
    
    .send{
        margin-bottom: 10px;
    }

    .inp{
        border-radius: 5px;
        padding: 0.5rem;
    }

    .but {
        background-color: transparent;
        border-radius: 20px;
        border-color: white;
        margin-left: 0.3rem;
    }
    
    .but:hover {
        cursor: pointer;
        transition: 1s;
        filter: invert(16%) sepia(91%) saturate(3003%) hue-rotate(279deg) brightness(90%) contrast(98%);
    }
}

@media (min-width: 320px) and (max-width: 960px) {
    .add{
        border: 1px solid white;
        padding: 10px;
        width: 100%;
    }

    .send{
        margin-bottom: 10px;
    }

    .inp{
        border-radius: 5px;
        padding: 0.5rem;
    }

    .but{
        background-color: black;
        border-radius: 20px;
        border-color: white;
        margin-left: 0.3rem;
    }

    .but:hover{
        cursor: pointer;
    }
}
